// $("#favorite_link").text("<%= favorite_text %>");
// console.log("test update.js.erb");
// var count = $("table .FavList #favorite_link").length;

console.log("<%= @ppost.id %>");
var c = "<%= @fav_count %>";
var result = "";
<%
	@FavArr = []
	#@mark = 0
	@posts.each do |pp|
		@FavArr << pp.id
		if pp.id == @ppost.id
			@mark = @FavArr.find_index(pp.id) + 1
		end
	end
	@fav_count = Favorite.where(:post_id => @ppost.id).count

	# if @fav_count == 1 || @fav_count == 0
	# 	result = c.concat("like");
	# else
	# 	result = c.concat("likes");
%>

// $("#favorite_link").css("color","gray");
// $(".like").css("filter", "grayscale(100%)");

var t = "<%= @mark %>";
var c = "<%= @fav_count %>";
console.log(t);
// $( "div ul:nth-child(" +t+ ") #ha" ).append( "<span> - 2nd!</span>" );

<% if @favorite_exists == false %>
	console.log("@favorite_exists = false");
	// $( "table .FavList:nth-child(" + t + ") #favorite_link").css("color","gray");
	// $( "table .FavList:nth-child(" + t + ") #favorite_link").text("Favorite");
	// $( "table .FavList:nth-child(" + t + ") .like").css("filter", "grayscale(100%)");
	$(".block:nth-child(" + t + ") #favorite_link").css("color","gray");
	$(".block:nth-child(" + t + ") #favorite_link").text("Love");
	$(".block:nth-child(" + t + ") .like").css("filter", "grayscale(100%)");
	$("#favorites-count").text(c);
	console.log("test fav count in false");
<% end %>
<% if @favorite_exists == true %>
	console.log("@favorite_exists = true");
	// $( "table .FavList:nth-child(" + t + ") #favorite_link").css("color","red");
	// $( "table .FavList:nth-child(" + t + ") #favorite_link").text("UnFavorite");
	// $( "table .FavList:nth-child(" + t + ") .like").css("filter", "grayscale(0%)");
	$(".block:nth-child(" + t + ") #favorite_link").css("color","red");
	$(".block:nth-child(" + t + ") #favorite_link").text("UnLove");
	$(".block:nth-child(" + t + ") .like").css("filter", "grayscale(0%)");
	$("#favorites-count").text(c);
	console.log("test fav count in false");
<% end %>



