<% if @user.avatar.attached? %>
	<%= image_tag(@user.avatar, size: '40x40') %>&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:crimson; font-size: 30px;"><%= @user.email %></span>&nbsp;&nbsp;
  <%= link_to "Edit profile", edit_user_registration_path, class: "button is-primary is-outlined" %>
  <br><br>
<% else %>
	<%= image_tag "default_profile.png", size: '40x40' %>&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:crimson; font-size: 30px;"><%= @user.email %></span>&nbsp;&nbsp;
  <%= link_to "Edit profile", edit_user_registration_path, class: "button is-primary is-outlined" %>
  <br><br>
<% end %> 

<% str1 = @user.email.split('@') %>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User name</th>
      <th scope="col">Title</th>
      <th scope="col">Comments</th>
      <th scope="col">Likes</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
  	<% @posts.each do |post| %>
	    <tr>
	      <th scope="row"><%= str1[0] %></th>
	      <td><%= link_to post.title, "/posts##{post.id}" %></td>
	      <td><%= pluralize(post.comments.count, "Comment") %></td>
	      <td><%= pluralize(post.favorites.count, "Like") %></td>
	      <td><%= post.updated_at %></td> 
	    </tr>
	<% end %>
  </tbody>
</table>





