<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :title %>
    <%= form.text_area :title, class: "textarea", placeholder: "Title" %>
  </div>

  <div class="field">
    <div class="file is-info has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="resume">

        <%= form.file_field :images, multiple: true, class: "file-name" %>
      </label>
    </div>

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
