<script type="text/javascript" src="layout.js"></script>
<%= notice %>
<% if user_signed_in? %>
  <h1> Hi 
  <span style="color: crimson"><%= current_user.email %></span>,
  Welcome back !!
  </h1>
<% else %>
  <h1>Please Sign in first ! :D</h1>
<% end %>
<br>

<br>


<div>
<% @posts.each do |post| %>
    <div class="block">
    <%
      a = post.id
      @favorite_exists = Favorite.where(post: post, user_id: post.user_id) == [] ? false : true
      #@favorite_exists = Favorite.where(post: Post.find(:a) == [] ? false : true
      
      @comments = post.comments.order('created_at DESC')
      @c = Comment.new
      @u = User.find_by(id: post.user_id)
      #fav_count = Favorite.where(:post_id => post.id).count
      #@fav_count = pluralize(post.favorites.count, "like")

      str1 = post.user.email.split('@')
    %>
    
    <div class="card"  id="<%= post.id %>">
      <div class="card-header">
        <div class="ava">
          <% if @u.avatar.attached? %>
            <%= image_tag(@u.avatar, size: '40x40') %>
          <% else %>
            <%= image_tag "/default_profile.png", width: "40px" %>
          <% end %>

          <%= str1[0] %>
        </div>

        <% if post.user == current_user %>
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">

                  <%= link_to 'Edit', edit_post_path(post), class: "button is-info is-inverted" %><br>

                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-inverted" %>
              </div>
          </div>
        <% end %>
      </div>
<div class="post-image">
      <% (0...post.images.count).each do |image| %>
            <div class="post-image-item">
              <%= image_tag(post.images[image], size: "900x600") %>
              <!-- <img src="polymorphic_url post.images[image].variant(resize: '100x100')"> -->
            </div>
          <% end %>
      </div>
    
      <div class="card-body">

        <h5 class="card-title"><big class="post-title"><%= link_to post.title , post %></big>&nbsp;&nbsp;&nbsp;&nbsp;
          

        <% if user_signed_in? %>
          <h5 class="card-title FavImg">

            <%= render "favoritesImage", post: post %>
          </h5>
        <% end %>
        <span class="small"><%= pluralize(post.comments.count, "Comment") %></small></h5>
        <br>
        <div class="cmt-box">         
          <% @comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %><br>
          <% end %>
        </div>
        <br>
        <% if user_signed_in? %>
            <%= form_with model: [post, @c], local: false do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :content, class:"form-control", placeholder: "Leave a comment" %>
              <%= f.submit 'Send', class: "button is-link" %>
              </div>
            <% end %>



        <% end %>
      </div>
    </div>
    <br>
    </div>
<% end %>
</div>
<br><br><br><br>

