<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <br>
  <span style="font-size:500%;color:red;">&hearts;</span>
  <br>
  <%= link_to favorite_text, favorites_update_path(post: @post), id: "favorite_link", remote: true, class: "fav" %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br><br>


<%= form_with model: [@post, @comment], local: false do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'Leave a comment' %> 
<% end %>

<h2>コメント一覧 </h2> 

<!-- <div id="cmt"> -->
	<% @comments.each do |comment| %>
	  	<%= render "comments/comment", comment: comment %>
		<br>
	<% end %>
<!-- </div> -->

<!-- tai sao lai phai co div id va file js ???? -->

