<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <br>
  <span style="font-size:500%;color:red;">&hearts;</span>
  <br>
  
  <% if favorite_text == "Favorite"   %>
  	<div class="like fav", style="filter: grayscale(100%);"></div>
  	<div><%= link_to favorite_text, favorites_update_path(post: @post), id: "favorite_link", class: "fav", style:"color:gray;",remote: true %><div>
  <% else %>
  	<div class="like fav", style="filter: grayscale(0%);"></div>
  	<div><%= link_to favorite_text, favorites_update_path(post: @post), id: "favorite_link",class: "fav", style:"color:red;",remote: true %></div>
  <% end %>
	

</p>
<br><br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br><br>


<%= form_with model: [@post, @comment], local: false do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'Leave a comment' %> 
<% end %>

<h2>コメント一覧 </h2> 

<!-- <div id="cmt"> -->
	<% @comments.each do |comment| %>
	  	<%= render "comments/comment", comment: comment %>
		<br>
	<% end %>
<!-- </div> -->

<!-- tai sao lai phai co div id va file js ???? -->

