<!DOCTYPE html>
<html style="background-color: #fcfcfc;">
  <head>
    <title>Social Media</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #fcfcfc;">
    <% if not notice.nil? %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="https://cdn.pixabay.com/photo/2017/01/31/23/43/abstract-2028265_960_720.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>&nbsp;&nbsp;

          <a href="/posts/new" class="navbar-item">
            New Post
          </a>&nbsp;&nbsp;

          <% if user_signed_in? %>
            <form class="form-inline" action="/search">
              <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search User &#128270;" aria-label="Search">
            </form>           
          <% end %>
        </div>
        <% if user_signed_in? %>
          <% str1 = current_user.email.split('@') %>
          <div class="navbar-end">
            <div class="navbar-item">
              <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar, size: '30x30') %>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:crimson; font-size: 20px;"><%= current_user.email %></span><br><br>
              <% else %>
                <%= image_tag "default_profile.png", size: '30x30' %>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:crimson; font-size: 20px;"><%= current_user.email %></span><br><br>
              <% end %> 
            </div>

            <div class="navbar-item"> 
            
            <a><%= link_to "Edit profile", edit_user_registration_path, class: "button is-primary is-outlined" %> </a>
            &nbsp;&nbsp;
            <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-link is-outlined" %></a>
          </div>

          </div>
        <% else %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a>
                  <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary" %>
                </a>
                <a>
                  <%= link_to "Log in", new_user_session_path, class: "button is-light" %>
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <br><br>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
